{% include 'base1.html' %}
{% block content %}
<center><h2>USER</h2></center>
<div class="container">
    <form action="/sent" method="post">
      <label for="username">Username:</label>
      <input type="text" id="uname" name="uname" required>
      <input type="hidden" name="param1" value="{{ param1 }}">
      <input type="hidden" name="param2" value="{{ param2 }}">
      <input type="hidden" name="param3" value="{{ param3 }}">
      <input type="submit" id="loginBtnu" value="share">
    </form>
  </div>
{% endblock %}
